.main-container {
  position: fixed;
  left: 0;
  top: 0;
}

#value {
  font-size: 10vw;
  font-weight: bold;
  line-height: 100%;
  padding: 0px;
  transition: all 0.2s;
}

#container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}

#container-image > img {
  width: 150px;
  border-radius: 10px;
  transition: all 0.2s;
}

canvas {
  position: absolute;
  left: 0;
  width: 300px;
  bottom:10px;
  left: 10px;
  border-radius: 5px;
}

#myvideo {
  display: none;
}

#rect {
  width: auto;
  height: auto;
  transition: all 0.2s ease;
  color: white;
  line-height: 1;
  font-size: 11px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: center center;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

#rect > video {
  border-radius: 5px;
  position: relative;
  width: 100%;
  display: flex;
  pointer-events: auto !important;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
