#preview {
  position: relative;
  min-height: 100vh;
}

#charset {
  height: auto;
}

#preview-char {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: auto;
  font-size: 30vw;
}

#preview-char-span {
  display: flex;
  align-items: center;
  justify-content: center;
}

#preview-info {
  font-size: 12px;
  font-family: "courier new", mono-space;
}

#preview-info-2 {
  font-size: 12px;
  font-family: "courier new", mono-space;
}

.char {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.char:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

/* breakpoint mobile */
@media (max-width: 600px) {
  .char {
    flex: 0 0 calc(30% - 30px);
  }
}
